.card{
    border-radius: 10px;
}
.card__img{

}
.card__content{
    padding: 20px;
}
.card__heading{
    margin: 0;
    min-width: max-content;
}
.card__paragraph{
    margin: 0;
}
.card--light{
    background: white;
    color: black;
}
.card--dark{
    background: black;
    color:white;
}